{% extends "base.html" %}
{% block content %}
<ul>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h1>Profile</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Balance:</strong> ${{ request.user.userprofile.balance }}</p>
                        <h2 class="card-title">Borrowing History</h2>
                        <ul class="list-group">
                            {% for record in borrow_records %}
                                <li class="list-group-item">
                                    <h5>{{ record.book.title }}</h5>
                                    <p><strong>Borrow Date:</strong> {{ record.borrow_date }}</p>
                                    {% if record.return_date %}
                                        <p><strong>Return Date:</strong> {{ record.return_date }}</p>
                                    {% else %}
                                        <a href="{% url 'return_book' record.id %}" class="btn btn-danger btn-sm">Return</a>
                                    {% endif %}
                                    <a href="{% url 'create_or_update_review' record.book.id %}" class="btn btn-primary btn-sm">Review</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>
{% endblock content %}