anyio
asgiref
attrs
Babel
bcc
bcrypt
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
dj-database-url
Django
django-crispy-forms
duplicity
fasteners
filelock
gunicorn
h11
httpcore
httplib2
httpx
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
Mako
markdown-it-py
MarkupSafe
mdurl
monotonic
nala
netaddr
netifaces
oauthlib
olefile
paramiko
pexpect
pillow
pipenv
platformdirs
psycopg2
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
PyNaCl
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
screen-resolution-extra
setuptools
six
sniffio
socksio
sqlparse
systemd-python
tomli
typer
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
virtualenv
wadllib
wheel
xdg
xkit
